<div
  class="no-padding sdds-col-lg-16 sdds-col-md-8 sdds-col-sm-4 sdds-demo-form-field"
>
  <h6>Template driven form</h6>
</div>

<div
  class="no-padding sdds-col-lg-16 sdds-col-md-8 sdds-col-sm-4 sdds-demo-form-field sdds-on-white-bg"
>
  <div class="sdds-demo-info">dropdown value: {{myValue.label}}</div>
  <sdds-dropdown
    label="Label text"
    label-position="outside"
    placeholder="Select option"
    helper="Field required"
    (selectOption)="myValue=$event['detail']"
    placeholder="Select option"
    [defaultOption]="initialValue.value"
    [state]="myValue.label==='' || myValue.label==='None' ? 'error' : ''"
  >
    <sdds-dropdown-option value="">None</sdds-dropdown-option>
    <sdds-dropdown-option
      *ngFor="let option of list"
      [selected]="option.value === initialValue.value"
      [value]="option.value"
    >
      {{option.label}}
    </sdds-dropdown-option>
  </sdds-dropdown>
</div>

<div
  class="no-padding sdds-col-lg-16 sdds-col-md-8 sdds-col-sm-4 sdds-demo-form-field sdds-on-white-bg"
>
  <div>textfield value: {{usernameInput.value}}</div>
  <div>dirty: {{usernameInput.dirty}}</div>
  <div class="sdds-demo-info">untouched: {{usernameInput.untouched}}</div>
  <sdds-textfield
    type="text"
    ngModel
    ngDefaultControl
    name="usernameInput"
    #usernameInput="ngModel"
    placeholder="Enter Username"
    state="{{!usernameInput.untouched && !usernameInput.value ? 'error' : ''}}"
    (click)="clickEvent()"
    (customChange)="logNgModel(usernameInput)"
  >
    <span
      *ngIf="!usernameInput.untouched && !usernameInput.value"
      slot="sdds-helper"
      >Username required</span
    >
  </sdds-textfield>
</div>
