<!--The content below is only a placeholder and can be replaced.-->
<sdds-theme name="scania"></sdds-theme>
<div class="sdds-container">
  <div class="sdds-row">
    <div class="sdds-col-xlg-16 sdds-col-lg-16 sdds-col-md-8 sdds-col-sm-4">
      <h3>Form example</h3>
      <h5>
        <a
          class="sdds-navbar-menu-item-link"
          routerLink="/template-driven"
          routerLinkActive="active"
        >
          Template driven form
        </a>
      </h5>
      <h5>
        <a
          class="sdds-navbar-menu-item-link"
          routerLink="/reactive"
          routerLinkActive="active"
        >
          Reactive form
        </a>
      </h5>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
